body {
  font-family: Arial, sans-serif;
  background-color: #f3f7ec;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #1b1b1b;
  color: #8ab85c;
  border-radius: 10px;
  padding: 20px 30px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

input, select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  width: 45%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  display: flex;
}

.btn {
  display: flex;
  margin-top: 10px;
  color: #5e7a4b;
  text-decoration: none;
  justify-content: center;
}

.btnCancel {
  display: flex;
  color: #5e7a4b;
  text-decoration: none;
  justify-content: center;
}

