body{
    background-color: #F6FCDF;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0%;
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A1A19;
    padding: 5px ;
}

header .logo {
    width: 50px;
}

.header-left{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #F6FCDF;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #F6FCDF;
}

/* NAV */

.main{
    display: flex;
    background-color: #F6FCDF;
    height: 800px;
    margin: 0;;
}

nav{
    background-color: #31511E;
    margin: 0%;
    height: 100%;
}

li{
    list-style: none;
    padding: 10px;
}

nav > ul > li > a{
    color: #F6FCDF;
    text-decoration: none;
    margin-left: 0px;
    margin-left: -35px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1A1A19;
    color: white;
}


/*registro*/
form > div{
    display: flex;
    gap: 10px;
    margin: 20px;
}
.div-row{
    display: grid;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    margin: 10px;
} 

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease, color 0.3s ease;
}

th {
    background-color: #31511E;
    color: #F6FCDF;
    position: sticky;
    top: 0;
    z-index: 1;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

tr.selected {
    background-color: #31511E;
    color: #F6FCDF;
}


.nav-buscador >  input[type="text"]{
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #31511E;

}

.nav-buscador >  button{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #31511E;
    background-color: #31511E;
    color: #F6FCDF;

}

.nav-buscador > button:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

.btn-regreso{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #31511E;
    background-color: #31511E;
    color: #F6FCDF;
}

.btn-regreso:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}


.nav-buscador > select{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #31511E;
}


button {
    background-color: #2e5e2a; 
    color: white; 
    border: none; 
    border-radius: 8px; 
    padding: 10px 20px; 
    font-size: 14px; 
    font-family: Arial, sans-serif; 
    font-weight: bold; 
    cursor: pointer; 
    text-align: center; 
    transition: background-color 0.3s, transform 0.2s;
}


button:hover {
    background-color: #21451f; 
    transform: scale(1.05); 
}


td > button {
    margin: 5px; /
}
